@import url('https://fonts.googleapis.com/css?family=Lato:700');


.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    background: #21B945;
    border-radius: .5em;
    float: right;
    padding: 1.4%;
}

.fileContainer [type=file] {
    cursor: pointer;
}






.pictureUploader {
    overflow: hidden;
    position: relative;
}

.pictureUploader [type=file] {
    cursor: inherit;
    display: block;
    font-size: 300px;
    filter: alpha(opacity=0);
    max-height: 30%;
    max-width: 30%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
}

/* Example stylistic flourishes */

.pictureUploader {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(90,90,90);
    background: rgb(224,225,226);
    border-radius: .5em;
    float: left;
    padding: 1.2%;
    margin-right: 2%;
}
.pictureUploader:hover{
  background: rgb(200,200,200)
}

.pictureUploader [type=file] {
    cursor: pointer;
}
