@import url('https://fonts.googleapis.com/css?family=Lato:700');


.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    background: #21B945;
    border-radius: .5em;
    float: right;
    padding: 1.4%;
}

.fileContainer [type=file] {
    cursor: pointer;
}
